<div class="card-container">
  <a class="card" href="./device/{{card.id}}"
     *ngFor="let card of cards ">
    <img alt="Image of a cash register" src="{{card.type_id.image}}">
    <span><h3>{{card.name}}</h3></span>
  </a>
</div>

