<!-- Toolbar -->
<div class='toolbar'>
  <mat-toolbar color="primary">
    <span>Менеджер касових апаратів</span>
  </mat-toolbar>
</div>

<!-- Content -->
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>

