<div mat-dialog-title>
  <mat-icon class="myicon" color="warn" aria-hidden="false" aria-label="Icon worning">warning</mat-icon>
  <span class="title-txt">{{data.title}}</span>
</div>
<div mat-dialog-content>{{data.description}}</div>


<div mat-dialog-actions>
  <button mat-button cdkFocusInitial mat-dialog-close>Ok</button>
</div>
