  <div class="spinner-container" *ngIf="loading$ | async">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <!--    <mat-spinner></mat-spinner>-->
  </div>


<div class="container-detail">
  <mat-accordion class="headers-align container-detail" >
    <mat-expansion-panel [expanded]=true>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Загальні
        </mat-panel-title>
        <mat-panel-description>


        </mat-panel-description>
      </mat-expansion-panel-header>

      <img alt="Image of a cash register" src="{{DeviceDetailEntity.type_id.image}}">
      <p><b>IP:</b> {{DeviceDetailEntity.ip}}</p>
      <p><b>Тип:</b> {{DeviceDetailEntity.type_id.name}}</p>
      <p><b>Локація:</b> {{DeviceDetailEntity.locate_id.name}}</p>
      <p>{{DeviceDetailEntity.description}}</p>

    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Робоча зміна
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div>
        <button mat-stroked-button color="primary" (click)="openXDialog()">X Звіт</button>
        <button mat-stroked-button color="primary">Відкрити зміну</button>
        <button mat-stroked-button color="primary" (click)="openZDialog()">Z Звіт</button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Події
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>


    </mat-expansion-panel>


  </mat-accordion>

</div>
